src/HumanTaskWS/trunk/META-INF/DecidrWSTypes.xsd

<!-- The DecidR Development Team licenses this file to you under -->
<!-- the Apache License, Version 2.0 (the "License"); you may -->
<!-- not use this file except in compliance with the License. -->
<!-- You may obtain a copy of the License at -->
<!-- -->
<!-- http://www.apache.org/licenses/LICENSE-2.0 -->
<!-- -->
<!-- Unless required by applicable law or agreed to in writing, -->
<!-- software distributed under the License is distributed on an -->
<!-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY -->
<!-- KIND, either express or implied. See the License for the -->
<!-- specific language governing permissions and limitations -->
<!-- under the License. -->

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://decidr.de/schema/DecidrWSTypes" xmlns:tns="http://decidr.de/schema/DecidrWSTypes"
	xmlns:basic="http://decidr.de/schema/DecidrTypes" elementFormDefault="qualified"
>

	<xsd:import namespace="http://decidr.de/schema/DecidrTypes"
		schemaLocation="DecidrTypes.xsd" />

	<xsd:complexType name="tIDList">
		<xsd:sequence>
			<xsd:element name="id" type="basic:tID" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tStringMapping">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" />
			<xsd:element name="value" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tStringMap">
		<xsd:sequence>
			<xsd:element name="item" type="tns:tStringMapping"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
