src/HumanTaskWS/trunk/META-INF/humanTask.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://decidr.de/schema/humanTask"
	xmlns="http://decidr.de/schema/humanTask" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:decidr="http://decidr.de/schema/DecidrTypes" elementFormDefault="qualified">

	<xsd:element name="humanTaskData" type="tHumanTaskData" />
	<xsd:complexType name="tHumanTaskData">
		<xsd:sequence>
			<xsd:element name="parameters" type="tParameters"
				minOccurs="1" maxOccurs="1" />
			<xsd:choice minOccurs="1" maxOccurs="unbounded">
				<xsd:element name="taskItem" type="tTaskItem" />
				<xsd:element name="information" type="tInformation" />
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tParameters">
		<xsd:sequence>
			<xsd:element name="parameter" type="tParameter"
				minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tParameter">
		<xsd:attribute name="name" type="xsd:NCName" use="required" />
		<xsd:attribute name="type" type="DWDLVariableType" use="optional" />
		<xsd:attribute name="variable" type="DWDLVariableName"
			use="required" />
	</xsd:complexType>

	<xsd:complexType name="tTaskItem">
		<xsd:sequence>
			<xsd:element name="label" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="hint" type="xsd:string" minOccurs="0"
				maxOccurs="1" />
			<xsd:element name="value" type="xsd:anySimpleType"
				minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:NCName" use="required" />
		<xsd:attribute name="variable" type="DWDLVariableName"
			use="optional" />
		<xsd:attribute name="type" type="DWDLSimpleVariableType"
			use="required" />
	</xsd:complexType>

	<xsd:complexType name="tInformation">
		<xsd:sequence>
			<xsd:element ref="content" minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:NCName" use="required" />
	</xsd:complexType>

	<xsd:element name="content" type="tContent" />
	<xsd:complexType name="tContent">
		<xsd:sequence>
			<xsd:any minOccurs="1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="contentType" type="xsd:string" />
	</xsd:complexType>

	<xsd:simpleType name="DWDLVariableName">
		<xsd:restriction base="xsd:NCName">
			<xsd:pattern value="[^\.]+" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DWDLSimpleVariableType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="integer" />
			<xsd:enumeration value="float" />
			<xsd:enumeration value="string" />
			<xsd:enumeration value="boolean" />
			<xsd:enumeration value="date" />
			<xsd:enumeration value="anyURI" />
			<xsd:enumeration value="time" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DWDLComplexVariableType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="list-integer" />
			<xsd:enumeration value="list-float" />
			<xsd:enumeration value="list-string" />
			<xsd:enumeration value="list-boolean" />
			<xsd:enumeration value="list-date" />
			<xsd:enumeration value="list-file" />
			<xsd:enumeration value="form" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DWDLVariableType">
		<xsd:union memberTypes="DWDLSimpleVariableType DWDLComplexVariableType" />
	</xsd:simpleType>
	<xsd:simpleType name="tBoolean">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="yes" />
			<xsd:enumeration value="no" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tEmail">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([a-zA-Z0-9])+\@([a-zA-Z0-9])+\.([a-zA-Z0-9])+" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
