src/TestProcess2/TestProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:decidr="http://decidr.de/schema/DecidrTypes"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:pdecidr="http://decidr.de/schema/DecidrProcessTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://decidr.de/Default_Tenant/processes/302"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl1="http://decidr.de/webservices/HumanTask" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="TestProcess" targetNamespace="http://decidr.de/Default_Tenant/processes/302">
	<vprop:property name="taskID" type="xsd:long" />
	<vprop:propertyAlias messageType="wsdl1:createTaskResponse"
		part="parameters" propertyName="tns:taskID">
		<vprop:query>/wsdl1:taskID[1]</vprop:query>
	</vprop:propertyAlias>
	<vprop:propertyAlias messageType="tns:taskCompletedRequest"
		part="parameters" propertyName="tns:taskID">
		<vprop:query>/tns:taskID[1]</vprop:query>
	</vprop:propertyAlias>
	<wsdl:import location="HumanTask.wsdl"
		namespace="http://decidr.de/webservices/HumanTask" />
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://decidr.de/Default_Tenant/processes/302">

			<xsd:import namespace="http://decidr.de/schema/DecidrTypes"
				schemaLocation="DecidrTypes.xsd" />

			<xsd:complexType name="startMessageType">
				<xsd:all>
					<xsd:element name="role" type="decidr:tRole" />
				</xsd:all>
			</xsd:complexType>

			<xsd:element name="startProcess" type="tns:startMessageType" />
			<xsd:complexType name="startProcessResponseType">
				<xsd:sequence>
					<xsd:element name="pid" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="startProcessresponse" type="tns:startProcessResponseType">
			</xsd:element>


			<xsd:element name="taskCompleted">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskID" type="xsd:long"
							minOccurs="1" maxOccurs="1" nillable="false" />
						<xsd:element name="dataList" type="decidr:tReducedHumanTaskData"
							minOccurs="1" maxOccurs="1" nillable="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="taskCompletedResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="startMessageRequest">
		<wsdl:part element="tns:startProcess" name="payload" />
	</wsdl:message>
	<wsdl:message name="startMessageResponse">
		<wsdl:part element="tns:startProcessresponse" name="payload" />
	</wsdl:message>
	<wsdl:message name="taskCompletedRequest">
		<wsdl:part element="tns:taskCompleted" name="parameters" />
	</wsdl:message>
	<wsdl:message name="taskCompletedResponse">
		<wsdl:part element="tns:taskCompletedResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="HumanTaskTestPT">
		<wsdl:operation name="startProcess">
			<wsdl:input message="tns:startMessageRequest" name="input" />
			<wsdl:output message="tns:startMessageResponse" name="output" />
		</wsdl:operation>
		<wsdl:operation name="taskCompleted">
			<wsdl:input name="taskCompletedRequest" message="tns:taskCompletedRequest" />
			<wsdl:output name="taskCompletedResponse" message="tns:taskCompletedResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HumanTaskTestSOAPBinding" type="tns:HumanTaskTestPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="startProcess">
			<soap:operation
				soapAction="http://decidr.de/Default_Tenant/processes/302/startProcess" />
			<wsdl:input name="input">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="output">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="taskCompleted">
			<soap:operation
				soapAction="http://decidr.de/Default_Tenant/processes/302/taskCompleted"
				style="document" />
			<wsdl:input name="taskCompletedRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="taskCompletedResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="HumanTaskTest">
		<wsdl:port binding="tns:HumanTaskTestSOAPBinding" name="HumanTaskTestPort">
			<soap:address location="http://localhost:8080/ode/processes/1.DecidrProcess" />
		</wsdl:port>
	</wsdl:service>
	<plnk:partnerLinkType name="ProcessPLT">
		<plnk:role name="HumanTaskTestProvider" portType="tns:HumanTaskTestPT" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="HumanTaskPLT">
		<plnk:role name="HumanTaskProvider" portType="wsdl1:HumanTaskPT" />
		<plnk:role name="HumanTaskClient" portType="tns:HumanTaskTestPT" />
	</plnk:partnerLinkType>
</wsdl:definitions>
