src/EmailWS/trunk/META-INF/DecidrTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://decidr.de/schema/DecidrTypes" xmlns:tns="http://decidr.de/schema/DecidrTypes"
	elementFormDefault="qualified">

	<xsd:element name="actor" type="tns:tActor" />
	<xsd:complexType name="tActor">
		<xsd:attribute name="name" type="xsd:NCName" />
		<xsd:attribute name="userid" type="tns:tID" use="required" />
		<xsd:attribute name="email" type="xsd:string" />
	</xsd:complexType>

	<xsd:element name="role" type="tns:tRole" />
	<xsd:complexType name="tRole">
		<xsd:sequence>
			<xsd:element ref="tns:actor" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:NCName" use="required" />
	</xsd:complexType>

	<xsd:simpleType name="tID">
		<xsd:restriction base="xsd:long" />
	</xsd:simpleType>

	<xsd:complexType name="tItem" abstract="true">
		<xsd:attribute name="name" type="xsd:string" use="required" />
	</xsd:complexType>

	<xsd:complexType name="tStringItem">
		<xsd:complexContent>
			<xsd:extension base="tns:tItem">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tBooleanItem">
		<xsd:complexContent>
			<xsd:extension base="tns:tItem">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tFloatItem">
		<xsd:complexContent>
			<xsd:extension base="tns:tItem">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:float" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tDateItem">
		<xsd:complexContent>
			<xsd:extension base="tns:tItem">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:date" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tURIItem">
		<xsd:complexContent>
			<xsd:extension base="tns:tItem">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:anyURI" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tIntItem">
		<xsd:complexContent>
			<xsd:extension base="tns:tItem">
				<xsd:sequence>
					<xsd:element name="value" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="item" type="tns:tItem" />
	<xsd:element name="stringItem" substitutionGroup="tns:item"
		type="tns:tStringItem" />
	<xsd:element name="booleanItem" substitutionGroup="tns:item"
		type="tns:tBooleanItem" />
	<xsd:element name="intItem" substitutionGroup="tns:item"
		type="tns:tIntItem" />
	<xsd:element name="dateItem" substitutionGroup="tns:item"
		type="tns:tDateItem" />
	<xsd:element name="uriItem" substitutionGroup="tns:item"
		type="tns:tURIItem" />
	<xsd:element name="floatItem" substitutionGroup="tns:item"
		type="tns:tFloatItem" />
	<xsd:complexType name="tItemList">
		<xsd:sequence>
			<xsd:element ref="tns:item" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tAbstractUser" abstract="true">
		<xsd:sequence />
	</xsd:complexType>

	<xsd:complexType name="tRoleUser">
		<xsd:complexContent>
			<xsd:extension base="tns:tAbstractUser">
				<xsd:sequence>
					<xsd:element name="role" type="tns:tRole" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="tActorUser">
		<xsd:complexContent>
			<xsd:extension base="tns:tAbstractUser">
				<xsd:sequence>
					<xsd:element name="actor" type="tns:tActor" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="tEmailUser">
		<xsd:complexContent>
			<xsd:extension base="tns:tAbstractUser">
				<xsd:sequence>
					<xsd:element name="email" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="user" type="tns:tAbstractUser" />
	<xsd:element name="emailUser" substitutionGroup="tns:user"
		type="tns:tEmailUser" />
	<xsd:element name="actorUser" substitutionGroup="tns:user"
		type="tns:tActorUser" />
	<xsd:element name="roleUser" substitutionGroup="tns:user"
		type="tns:tRoleUser" />
	<xsd:complexType name="tAbstractUserList">
		<xsd:sequence>
			<xsd:element ref="tns:user" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tTaskIdentifier">
		<xsd:sequence>
			<xsd:element name="taskID" type="tns:tID" />
			<xsd:element name="processID" type="xsd:string"
				minOccurs="1" maxOccurs="1" nillable="false" />
			<xsd:element name="userID" type="tns:tID" minOccurs="1"
				maxOccurs="1" nillable="false" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
