src/EmailWS/trunk/META-INF/Email.wsdl

<?xml version="1.0" encoding="UTF-8"?>

	<!-- The DecidR Development Team licenses this file to you under -->
	<!-- the Apache License, Version 2.0 (the "License"); you may -->
	<!-- not use this file except in compliance with the License. -->
	<!-- You may obtain a copy of the License at -->
	<!-- -->
	<!-- http://www.apache.org/licenses/LICENSE-2.0 -->
	<!-- -->
	<!-- Unless required by applicable law or agreed to in writing, -->
	<!-- software distributed under the License is distributed on an -->
	<!-- "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY -->
	<!-- KIND, either express or implied. See the License for the -->
	<!-- specific language governing permissions and limitations -->
	<!-- under the License. -->

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://decidr.de/webservices/Email"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:dwsdl="http://decidr.de/wsdl/DecidrTypes" xmlns:basic="http://decidr.de/schema/DecidrTypes"
	xmlns:decidr="http://decidr.de/schema/DecidrWSTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mex="http://decidr.de/model/exceptions"
	xmlns:sex="http://decidr.de/model/soap/exceptions" name="Email"
	targetNamespace="http://decidr.de/webservices/Email"
>

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://decidr.de/model/exceptions"
		>
			<xsd:element name="incompleteConfigurationException"
				type="xsd:string" />
			<xsd:element name="storageException" type="xsd:string" />
			<xsd:element name="transactionException" type="xsd:string" />
		</xsd:schema>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://decidr.de/model/soap/exceptions"
		>
			<xsd:element name="messagingException" type="xsd:string" />
			<xsd:element name="ioException" type="xsd:string" />
			<xsd:element name="illegalArgumentException" type="xsd:string" />
			<xsd:element name="malformedURLException" type="xsd:string" />
		</xsd:schema>

		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://decidr.de/webservices/Email"
		>
			<!-- own type definitions -->
			<xsd:import schemaLocation="DecidrWSTypes.xsd"
				namespace="http://decidr.de/schema/DecidrWSTypes" />
			<xsd:import schemaLocation="DecidrTypes.xsd"
				namespace="http://decidr.de/schema/DecidrTypes" />

			<!-- operations -->
			<xsd:element name="sendEmail">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="to" type="basic:tAbstractUserList" />
						<xsd:element name="cc" type="basic:tAbstractUserList"
							minOccurs="0" nillable="true" />
						<xsd:element name="bcc" type="basic:tAbstractUserList"
							minOccurs="0" nillable="true" />
						<xsd:element name="fromName" type="xsd:string"
							minOccurs="0" nillable="true" />
						<xsd:element name="fromAddress" type="xsd:string" />
						<xsd:element name="subject" type="xsd:string" />
						<xsd:element name="headers" type="decidr:tStringMap"
							minOccurs="0" nillable="true" />
						<xsd:element name="bodyTXT" type="xsd:string"
							minOccurs="0" nillable="true" />
						<xsd:element name="bodyHTML" type="xsd:string"
							minOccurs="0" nillable="true" />
						<xsd:element name="attachments" type="decidr:tIDList"
							minOccurs="0" nillable="true" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendEmailResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sendEmailRequest">
		<wsdl:part element="tns:sendEmail" name="parameters" />
	</wsdl:message>
	<wsdl:message name="sendEmailResponse">
		<wsdl:part element="tns:sendEmailResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="incompleteConfigurationException">
		<wsdl:part element="mex:incompleteConfigurationException"
			name="fault" />
	</wsdl:message>
	<wsdl:message name="storageException">
		<wsdl:part element="mex:storageException" name="fault" />
	</wsdl:message>
	<wsdl:message name="transactionException">
		<wsdl:part element="mex:transactionException" name="fault" />
	</wsdl:message>
	<wsdl:message name="ioException">
		<wsdl:part element="sex:ioException" name="fault" />
	</wsdl:message>
	<wsdl:message name="malformedURLException">
		<wsdl:part element="sex:malformedURLException" name="fault" />
	</wsdl:message>
	<wsdl:message name="messagingException">
		<wsdl:part element="sex:messagingException" name="fault" />
	</wsdl:message>

	<wsdl:portType name="EmailPT">
		<wsdl:operation name="sendEmail">
			<wsdl:input name="sendEmailRequest" message="tns:sendEmailRequest"
				wsaw:Action="urn:sendEmail" />
			<wsdl:output name="sendEmailResponse" message="tns:sendEmailResponse"
				wsaw:Action="urn:sendEmailResponse" />
			<wsdl:fault name="incompleteConfigurationException"
				message="tns:incompleteConfigurationException" />
			<wsdl:fault name="storageException" message="tns:storageException"
				wsaw="urn:storageException" />
			<wsdl:fault name="transactionException" message="tns:transactionException"
				wsaw="urn:transactionException" />
			<wsdl:fault name="ioException" message="tns:ioException"
				wsaw="urn:ioException" />
			<wsdl:fault name="malformedURLException" message="tns:malformedURLException"
				wsaw="urn:malformedURLException" />
			<wsdl:fault name="messagingException" message="tns:messagingException"
				wsaw="urn:messagingException" />
		</wsdl:operation>
	</wsdl:portType>

	<plnk:partnerLinkType name="EmailPLT">
		<plnk:role name="EmailProvider" portType="tns:EmailPT" />
	</plnk:partnerLinkType>

	<wsdl:binding name="EmailSOAPBinding" type="tns:EmailPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendEmail">
			<soap:operation soapAction="urn:sendEmail" style="document" />
			<wsdl:input name="sendEmailRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendEmailResponse">
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="incompleteConfigurationException">
				<soap:fault name="incompleteConfigurationException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="storageException">
				<soap:fault name="storageException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="transactionException">
				<soap:fault name="transactionException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ioException">
				<soap:fault name="ioException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="malformedURLException">
				<soap:fault name="malformedURLException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="messagingException">
				<soap:fault name="messagingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="EmailSOAP11Binding" type="tns:EmailPT">
		<soap11:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendEmail">
			<soap11:operation soapAction="urn:sendEmail" style="document" />
			<wsdl:input name="sendEmailRequest">
				<soap11:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sendEmailResponse">
				<soap11:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="incompleteConfigurationException">
				<soap11:fault name="incompleteConfigurationException"
					use="literal" />
			</wsdl:fault>
			<wsdl:fault name="storageException">
				<soap11:fault name="storageException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="transactionException">
				<soap11:fault name="transactionException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ioException">
				<soap11:fault name="ioException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="malformedURLException">
				<soap11:fault name="malformedURLException" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="messagingException">
				<soap11:fault name="messagingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<!-- needs to be adapted for deployment -->
	<wsdl:service name="Email">
		<wsdl:port binding="tns:EmailSOAPBinding" name="EmailSOAP">
			<soap:address location="http://localhost:8080/axis2/services/Email.EmailSOAP/" />
		</wsdl:port>
		<wsdl:port binding="tns:EmailSOAP11Binding" name="EmailSOAP11">
			<soap11:address
				location="http://localhost:8080/axis2/services/Email.EmailSOAP11/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
