docs/software-design/Modeling Tool/HumanTask.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://decidr.de/webservices/HumanTask" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:decidr="http://decidr.de/schema/DecidrTypes"
	xmlns:dwsdl="http://decidr.de/wsdl/DecidrTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	name="HumanTask" targetNamespace="http://decidr.de/HumanTask/">

	<wsdl:types>
		<xsd:schema targetNamespace="http://decidr.de/webservices/HumanTask">
			<!-- own type definitions -->
			<xsd:import schemaLocation="DecidrTypes.xsd"
				namespace="http://decidr.de/schema/DecidrTypes" />

			<!-- operations -->
			<xsd:element name="createTask">
				<xsd:complexType>
					<xsd:sequence maxOccurs="1" minOccurs="1">
						<xsd:element name="taskID" type="decidr:tID"
							minOccurs="1" maxOccurs="1" nillable="false" />
						<xsd:element name="wfmID" type="decidr:tID" minOccurs="1"
							maxOccurs="1" nillable="false">
							<xsd:annotation>
								<xsd:documentation>Workflow Model ID</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="processID" type="decidr:tID"
							minOccurs="1" maxOccurs="1" nillable="false" />
						<xsd:element name="userID" type="decidr:tID"
							minOccurs="1" maxOccurs="1" nillable="false" />
						<xsd:element name="taskName" type="xsd:string"
							minOccurs="1" maxOccurs="1" nillable="false" />
						<xsd:element name="userNotification" type="xsd:boolean"
							minOccurs="0" maxOccurs="1" nillable="false" default="false" />
                        <xsd:element name="description" type="xsd:string"
                            minOccurs="1" maxOccurs="1" nillable="false" />
                        <!-- xsd:element name="descriptionVars" type="decidr:tDescriptionItemList"
                            minOccurs="0" maxOccurs="1" nillable="false" / -->
						<xsd:element name="taskData" type="decidr:tItemList"
							minOccurs="0" maxOccurs="1" nillable="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="createTaskResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="taskCompleted">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskID" type="decidr:tID"
							minOccurs="1" maxOccurs="1" nillable="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="" taskCompleted " Response ">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeTasks">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="processID" type="decidr:tID"
							minOccurs="1" maxOccurs="1" nillable="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeTasksResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeTask">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="taskIDList" type="decidr:tIDList"
							minOccurs="1" maxOccurs="1" nillable="false" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="removeTaskResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="createTaskRequest">
		<wsdl:part element="tns:createTask" name="parameters" />
	</wsdl:message>
	<wsdl:message name="createTaskResponse">
		<wsdl:part element="tns:createTaskResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="taskCompletedRequest">
		<wsdl:part element="tns:taskCompleted" name="parameters" />
	</wsdl:message>
	<wsdl:message name="taskCompletedResponse">
		<wsdl:part element="tns:taskCompletedResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeTasksRequest">
		<wsdl:part element="tns:removeTasks" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeTasksResponse">
		<wsdl:part element="tns:removeTasksResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeTaskRequest">
		<wsdl:part element="tns:removeTask" name="parameters" />
	</wsdl:message>
	<wsdl:message name="removeTaskResponse">
		<wsdl:part element="tns:removeTaskResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="HumanTaskPT">
		<wsdl:operation name="createTask">
			<wsdl:input message="tns:createTaskRequest" />
			<wsdl:output message="tns:createTaskResponse" />
		</wsdl:operation>
		<wsdl:operation name="taskCompleted">
			<wsdl:input message="tns:taskCompletedRequest" />
			<wsdl:output message="tns:taskCompletedResponse" />
		</wsdl:operation>
		<wsdl:operation name="removeTasks">
			<wsdl:input message="tns:removeTasksRequest" />
			<wsdl:output message="tns:removeTasksResponse" />
		</wsdl:operation>
		<wsdl:operation name="removeTask">
			<wsdl:input message="tns:removeTaskRequest" />
			<wsdl:output message="tns:removeTaskResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<plnk:partnerLinkType name="HumanTaskPLT">
		<plnk:role name="HumanTaskProvider" portType="tns:HumanTaskPT" />
		<plnk:role name="HumanTaskClient" portType="dwsdl:HumanTask-CallbackPT" />
	</plnk:partnerLinkType>

	<wsdl:binding name="HumanTaskSOAP" type="tns:HumanTaskPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="createTask">
			<soap:operation soapAction="http://decidr.de/webservices/HumanTask/createTask"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="taskCompleted">
			<soap:operation
				soapAction="http://decidr.de/webservices/HumanTask/taskCompleted"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeTasks">
			<soap:operation soapAction="http://decidr.de/webservices/HumanTask/removeTasks"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeTask">
			<soap:operation soapAction="http://decidr.de/webservices/HumanTask/removeTask"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- needs to be adapted for deployment -->
	<wsdl:service name="HumanTask">
		<wsdl:port binding="tns:HumanTaskSOAP" name="HumanTaskSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
