src/ODEMonitorService/trunk/META-INF/ODEMonitor.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://decidr.de/webservices/ODEMonitor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dwsdl="http://decidr.de/wsdl/DecidrTypes"
	xmlns:decidr="http://decidr.de/schema/DecidrTypes" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="ODEMonitor"
	targetNamespace="http://decidr.de/webservices/ODEMonitor">

	<wsdl:types>
		<xsd:schema targetNamespace="http://decidr.de/webservices/ODEMonitor">
			<!-- operations -->
			<xsd:element name="updateStats">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="wfInstances" type="xsd:int" />
						<xsd:element name="wfModels" type="xsd:int" />
						<xsd:element name="odeID" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="updateStatsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="configVersion" type="xsd:dateTime" />
						<xsd:element name="run" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerODE">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="poolInstance" type="xsd:boolean" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="registerODEResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="odeID" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfig">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getConfigResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="updateInterval" type="xsd:int">
							<xsd:annotation>
								<xsd:documentation>Amount of time to wait between updates
									(in seconds).</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="configChanged" type="xsd:dateTime" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="updateStatsRequest">
		<wsdl:part element="tns:updateStats" name="parameters" />
	</wsdl:message>
	<wsdl:message name="updateStatsResponse">
		<wsdl:part element="tns:updateStatsResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="registerODERequest">
		<wsdl:part element="tns:registerODE" name="parameters" />
	</wsdl:message>
	<wsdl:message name="registerODEResponse">
		<wsdl:part element="tns:registerODEResponse" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getConfigRequest">
		<wsdl:part element="tns:getConfig" name="parameters" />
	</wsdl:message>
	<wsdl:message name="getConfigResponse">
		<wsdl:part element="tns:getConfigResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="ODEMonitorPT">
		<wsdl:operation name="updateStats">
			<wsdl:input message="tns:updateStatsRequest" wsaw:Action="urn:updateStats" />
			<wsdl:output message="tns:updateStatsResponse"
				wsaw:Action="urn:updateStatsResponse" />
		</wsdl:operation>
		<wsdl:operation name="registerODE">
			<wsdl:input message="tns:registerODERequest" wsaw:Action="urn:registerODE" />
			<wsdl:output message="tns:registerODEResponse"
				wsaw:Action="urn:registerODEResponse" />
		</wsdl:operation>
		<wsdl:operation name="getConfig">
			<wsdl:input message="tns:getConfigRequest" wsaw:Action="urn:getConfig" />
			<wsdl:output message="tns:getConfigResponse" wsaw:Action="urn:getConfigResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ODEMonitorSOAP" type="tns:ODEMonitorPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="updateStats">
			<soap:operation soapAction="http://decidr.de/webservices/ODEMonitor/updateStats"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="registerODE">
			<soap:operation soapAction="http://decidr.de/webservices/ODEMonitor/registerODE"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfig">
			<soap:operation soapAction="http://decidr.de/webservices/ODEMonitor/getConfig"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- needs to be adapted for deployment -->
	<wsdl:service name="ODEMonitor">
		<wsdl:port binding="tns:ODEMonitorSOAP" name="ODEMonitorSOAP" />
	</wsdl:service>
</wsdl:definitions>
