prototype/BPELProcess/eMailWSProcessArtifacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:tns="http://decidr.org/mailws" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" name="eMailWSProcess" targetNamespace="http://decidr.org/mailws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     TYPE DEFINITION - List of types participating in this BPEL process 
     The BPEL Designer will generate default request and response types
     but you can define or import any XML Schema type and use them as part 
     of the message types.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="eMailWSPLT">
    <plnk:role name="eMailRequester" portType="tns:eMailWSPT"/>
  </plnk:partnerLinkType>
    <import location="mailws.wsdl" namespace="http://decidr.org/mailws"/>
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://decidr.org/mailws">

            <element name="eMailWSProcessRequest">
                <complexType>
                    <sequence>
                    	<element name="input" type="string" />

                    	<element name="message" type="string"></element>
                    	<element name="subject" type="string"></element>
                    	<element name="recipient" type="string"></element>
                    </sequence>
                </complexType>
            </element>

            <element name="eMailWSProcessResponse">
                <complexType>
                    <sequence>
                        <element name="result" type="boolean" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>


<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     MESSAGE TYPE DEFINITION - Definition of the message types used as 
     part of the port type defintions
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <message name="eMailWSProcessRequestMessage">
        <part element="tns:eMailWSProcessRequest" name="payload"/>
    </message>
    <message name="eMailWSProcessResponseMessage">
        <part element="tns:eMailWSProcessResponse" name="payload"/>
    </message>

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PORT TYPE DEFINITION - A port type groups a set of operations into
     a logical service unit.
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    

    <!-- portType implemented by the eMailWSProcess BPEL process -->
    <portType name="eMailWSProcess">
        <operation name="process">
            <input message="tns:eMailWSProcessRequestMessage"/>
            <output message="tns:eMailWSProcessResponseMessage"/>
        </operation>
    </portType>
  

<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
     PARTNER LINK TYPE DEFINITION
     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->    
    <plnk:partnerLinkType name="eMailWSProcess">
        <plnk:role name="eMailWSProcessProvider" portType="tns:eMailWSProcess"/>
    </plnk:partnerLinkType>
    
    <binding name="emailWSProcessBinding" type="tns:eMailWSProcess">
    	<soap:binding style="document"
    		transport="http://schemas.xmlsoap.org/soap/http" />
    	<operation name="process">
    		<soap:operation
    			soapAction="http://decidr.org/mailws/process" />
    		<input>
    			<soap:body use="literal" />
    		</input>
    		<output>
    			<soap:body use="literal" />
    		</output>
    	</operation>
    </binding>
    <service name="eMailWSProcessService">
    	<port name="eMailWSProcessPort" binding="tns:emailWSProcessBinding">
    		<soap:address location="http://localhost:8080/ode/processes/mailws" />
    	</port>
    </service>
</definitions>
