trunk/docs/software-design/Modeling Tool/dwdl schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://decidr.org/schema/dwdl"
	xmlns="http://decidr.org/schema/dwdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" blockDefault="#all">
	<xsd:annotation>
		<xsd:documentation>
			Schema for Executable Workflow for DWDL 1.0
			Last modified date: 26th March, 2009

			2009-01-30: MA: Creation date
			2009-03-26: MA: Extended previous version with form element
			2009-05-09: MA: Invoke activity changed with setPoperty
        </xsd:documentation>
	</xsd:annotation>
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace"
		schemaLocation="http://www.w3.org/2009/01/xml.xsd" />
	<xsd:element name="workflow" type="tWorkflow">
		<xsd:annotation>
			<xsd:documentation>
				This is the root element for a DWDL 1.0 workflow.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tWorkflow">
		<xsd:sequence>
			<xsd:element ref="description" minOccurs="0" />
			<xsd:element ref="variables" minOccurs="0" />
			<xsd:element ref="roles" minOccurs="0" />
			<xsd:element ref="faultHandler" minOccurs="0" />
			<xsd:element ref="nodes" minOccurs="0" />
			<xsd:element ref="arcs" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:NCName" use="required" />
		<xsd:attribute name="id" type="xsd:ID" use="required" />
	</xsd:complexType>
	<xsd:element name="description" type="tDescription" />
	<xsd:complexType name="tDescription" mixed="true">
		<xsd:sequence>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
		<xsd:attribute name="source" type="xsd:anyURI" />
		<xsd:attribute ref="xml:lang" />
	</xsd:complexType>
	<xsd:element name="variables" type="tVariables" />
	<xsd:complexType name="tVariables">
		<xsd:sequence>
			<xsd:element ref="variable" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="variable" type="tVariable" />
	<xsd:complexType name="tVariable">
		<xsd:attribute name="name" type="DWDLVariableName" use="required" />
		<xsd:attribute name="type" type="xsd:QName" use="required" />
		<xsd:attribute name="configurationVariable" type="tBoolean"
			default="no" />
	</xsd:complexType>
	<xsd:element name="roles" type="tRoles" />
	<xsd:complexType name="tRoles">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="role" />
				<xsd:element ref="actor" />
			</xsd:choice>
		</xsd:sequence|>
	</xsd:complexType>
	<xsd:element name="actor" type="tActor" />
	<xsd:complexType name="tActor">
		<xsd:attribute name="userid" type="xsd:ID" />
		<xsd:attribute name="name" type="xsd:NCName" use="optional" />
	</xsd:complexType>
	<xsd:element name="role" type="tRole" />
	<xsd:complexType name="tRole">
		<sequence>
			<xsd:element ref="actor" minOccurs="1" />
		</sequence>
		<xsd:attribute name="name" type="xsd:NCName" />
	</xsd:complexType>
	<xsd:element name="faultHandler" type="tFaultHandler" />
	<xsd:complexType name="tFaultHandler">
		<xsd:sequence>
			<xsd:element name="faultMessage" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element ref="informant" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="informant" type="tInformant" />
	<xsd:complexType name="tInformant">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1"
				maxOccurs="1" />
			<xsd:element name="email" type="tEmail" minOccurs="1"
				maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="nodes" type="tNodes" />
	<xsd:complexType name="tNodes">
		<xsd:sequence>
			<xsd:group ref="nodeTypes" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="nodeTypes">
		<xsd:choice>
			<xsd:element ref="startNode" />
			<xsd:element ref="endNode" />
			<xsd:element ref="flowNode" />
			<xsd:element ref="forEachNode" />
			<xsd:element ref="ifNode" />
			<xsd:element ref="invokeNode" />
		</xsd:choice>
	</xsd:group>
	<xsd:element name="basicNode" type="tBasicNode" />
	<xsd:complexType name="tBasicNode">
		<xsd:sequence>
			<xsd:element ref="description" minOccurs="0" />
			<xsd:element ref="graphics" minOccurs="1" />
			<xsd:element ref="targets" minOccurs="0" />
			<xsd:element ref="sources" minOccurs="0" />
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required" />
		<xsd:attribute name="name" type="xsd:NCName" use="optional" />
	</xsd:complexType>
	<xsd:element name="graphics" type="tGraphics" />
	<xsd:complexType name="tGraphics">
		<xsd:attribute name="x" type="xsd:NCName" use="required" />
		<xsd:attribute name="y" type="xsd:NCName" use="required" />
		<xsd:attribute name="width" type="xsd:NCName" use="optional" />
		<xsd:attribute name="height" type="xsd:NCName" use="opional" />
	</xsd:complexType>
	<xsd:element name="targets" type="tTargets" />
	<xsd:complexType name="tTargets">
		<xsd:sequence>
			<xsd:element ref="target" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="target" type="tTarget" />
	<xsd:complexType name="tTarget">
		<xsd:attribute name="arcId" type="xsd:IDREF" use="required" />
	</xsd:complexType>
	<xsd:element name="sources" type="tSources" />
	<xsd:complexType name="tSources">
		<xsd:sequence>
			<xsd:element ref="source" minOccurs="1" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="source" type="tSource" />
	<xsd:complexType name="tSource">
		<xsd:attribute name="arcId" type="xsd:IDREF" use="required" />
	</xsd:complexType>
	<xsd:element name="startNode" type="tBasicNode" />
	<xsd:element name="endNode" type="tBasicNode" />
	<xsd:element name="flowNode" type="tFlowNode" />
	<xsd:complexType name="tFlowNode">
		<xsd:complexContent>
			<xsd:extension base="tBasicNode">
				<xsd:sequence>
					<xsd:element ref="nodes" minOccurs="1" />
					<xsd:element ref="arcs" minOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="forEachNode" type="tForEachNode" />
	<xsd:complexType name="tForEachNode">
		<xsd:complexContent>
			<xsd:extension base="tBasicNode">
				<xsd:sequence>
					<xsd:element ref="startCounterValue" minOccurs="1" />
					<xsd:element ref="finalCounterValue" minOccurs="1" />
					<xsd:element ref="completionCondition" minOccurs="0" />
					<xsd:element ref="nodes" minOccurs="1" />
					<xsd:element ref="arcs" minOccurs="0" />
				</xsd:sequence>
				<xsd:attribute name="counterName" type="DWDLVariableName"
					use="required" />
				<xsd:attribute name="parallel" type="tBoolean" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="startCounterValue" type="tExpression" />
	<xsd:element name="finalCounterValue" type="tExpression" />
	<xsd:complexType name="tExpression">
		<xsd:sequence>
			<xsd:any processContents="lax" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="ifNode" type="tIfNode" />
	<xsd:complexType name="tIfNode">
		<xsd:complexContent>
			<xsd:extension base="tBasicNode">
				<xsd:sequence>
					<xsd:element ref="condition" minOccurs="1" />
					<xsd:element ref="nodes" minOccurs="1" />
					<xsd:element ref="arcs" minOccurs="1" />
					<xsd:element ref="elseif" minOccurs="0" />
					<xsd:element ref="else" minOccurs="1" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="condition" type="tCondition" />
	<xsd:complexType name="tCondition">
		<xsd:sequence>
			<xsd:element name="left-operand" type="tExpression"
				minOccurs="1" />
			<xsd:element name="operator" type="tExpression"
				minOccurs="1" />
			<xsd:element name="right-operand" type="tExpression"
				minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="elseif" type="tElseif" />
	<xsd:complexType name="tElseif">
		<xsd:sequence>
			<xsd:element ref="condition" minOccurs="1" />
			<xsd:element ref="nodes" minOccurs="1" />
			<xsd:element ref="arcs" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="else" type="tElse" />
	<xsd:complexType name="tElse">
		<xsd:sequence>
			<xsd:element ref="nodes" minOccurs="1" />
			<xsd:element ref="arcs" minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="invokeNode" type="tInvokeNode" />
	<xsd:complexType name="tInvokeNode">
		<xsd:complexContent>
			<xsd:extension base="tSimpleNode">
				<xsd:element name="inputVariable" type="DWDLVariableName"
					minOccurs="1" />
				<xsd:element name="outputVariable" type="DWDLVariableName"
					minOccurs="0" />
				<xsd:any processContents="lax" minOccurs="0" maxOccurs="1" />
				<xsd:attribute name="activity" type="xsd:NCName" use="required" />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="arcs" type="tArcs" />
	<xsd:complexType name="tArcs">
		<xsd:sequence>
			<xsd:element name="arc" type="tArc" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tArc">
		<xsd:attribute name="name" type="xsd:NCName" use="optional" />
		<xsd:attribute name="id" type="xsd:ID" use="required" />
		<xsd:attribute name="sourceNode" type="xsd:IDREF" use="required" />
		<xsd:attribute name="targetNode" type="xsd:IDREF" use="required" />
	</xsd:complexType>
	<xsd:simpleType name="DWDLVariableName">
		<xsd:restriction base="xsd:NCName">
			<xsd:pattern value="[^\.]+" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tBoolean">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="yes" />
			<xsd:enumeration value="no" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="tEmail">
		<xsd:restriction base="xsd:string">
			<xsd:pattern
				value="[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+
        (\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\{-~]+)*@[A-Za-z0-9!#-
        '\*\+\-/=\?\^_`\{-~]+(\.[A-Za-z0-9!#-'\*\+\-/=\?\^_`\
        {-~]+)*" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
